{% include "partial/header.html.twig" %}

<!-- Template liée au controller : src/Controller/AboutController.php -->
<main id="cart" class="container">
	<div class="path">
		<p>
			<a href="./index.php">Accueil
			</a>
			>
			<a href="./cart.php">Panier
			</a>
		</p>
	</div>
	<h1>Votre panier</h1>
	<form class="content" action="#" method="post">
		<section class="articles_panier">
			<div class="header_articles">
				<div class="titre1">Produit</div>
				<div class="titre2">Prix</div>
			</div>
			{% for article in articles %}

				<div class="article_panier" data-id="{{ article.id_article}}">
					<div class="panier_image_article">
						<a href="article/{{ article.id_article }}">
							<img src="{{ article.photos }}" alt="{{article.type_article}} {{article.nom}}">
						</a>
					</div>
					<div class="panier_titre_article">
						<h2>{{article.type_article}}
							{{article.nom}}</h2>
					</div>
					<div class="panier_qte_article">
						<p>Qté</p>
						<div class="input-number-container">
							<input class="input-number" type="number" value="{{ article.quantite}}"/>
						</div>
						<p>P.U
							<span class="{% if article.remise > 0 %}barre{% endif %}">{{ article.prix|number_format(2, ',', '')
							}}€</span>
							{% if article.remise > 0 %}
								{{ article.prix_article|number_format(2, ',', '')}}€
							{% endif %}
						</p>

					</div>
					<div class="panier_prix_article">{{ article.total_article|number_format(2, ',', '') }}€</div>
					<div class="panier_delete_article"><img src="img/delete.svg" alt=""></div>
				</div>
			{% endfor %}
		</section>
		<section class="form_panier">
			<p>Déjà client ?
				<a href="userlogin" class="lien">Se connecter</a>
			</p>
			<div class="form_livraison">
				<h2>Informations de livraison</h2>
				<div>
					<label for="nom">Nom :</label>
					<input type="text" name="nom">
				</div>
				<div>
					<label for="prenom">Prénom :</label>
					<input type="text" name="prenom">
				</div>
				<div>
					<label for="adresse">Adresse :</label>
					<input type="text" name="adresse" placeholder="Adresse">
				</div>
				<div>
					<label for="complement">Complément d'adresse :</label>
					<textarea name="complement" id="complement" rows="2" placeholder="Apt, suite, unité, nom de l'entreprise (facultatif)"></textarea>
				</div>
				<div>
					<label for="codePostal">Code postal :</label>
					<input type="text" name="codePostal" maxlength="5">
				</div>
				<div>
					<label for="ville">Ville :</label>
					<input type="text" name="ville">
				</div>
				<div>
					<label for="pays">Pays :</label>
					<select name="pays" id="pays-select">
						<option value="">--Choisir un pays--</option>

						<option value="FR">France</option>
						<option value="DE">Allemagne</option>
						<option value="IT">Italie</option>
						<option value="ES">Espagne</option>
						<option value="GB">Royaume-Uni</option>
						<option value="US">États-Unis</option>
						<option value="CA">Canada</option>
						<option value="JP">Japon</option>
						<option value="CN">Chine</option>
						<option value="IN">Inde</option>
						<option value="BR">Brésil</option>
						<option value="MX">Mexique</option>

					</select>
				</div>

				<div>
					<label for="tel">Numéro de téléphone :</label>
					<input type="text" name="tel">
				</div>
			</div>
			<div class="form_choix_livr">
				<legend>Adresse de facturation identique à l’adresse de livraison ?</legend>
				<div>
					<label for="addrFacturationDiffOui"><input type="radio" name="addrFacturationDiff" id="addrFacturationDiffOui" value="true">
						Oui</label>
					<label for="addrFacturationDiffNon"><input type="radio" name="addrFacturationDiff" id="addrFacturationDiffNon" value="false" checked>
						Non</label>
				</div>

			</div>
			<div class="form_livraison">
				<h2>Adresse de facturation</h2>
				<div>
					<label for="adresse_livr">Adresse :</label>
					<input type="text" name="adresse_livr" placeholder="Adresse">
				</div>
				<div>
					<label for="complement_livr">Complément d'adresse :</label>
					<textarea name="complement_livr" id="complement_livr" rows="2" placeholder="Apt, suite, unité, nom de l'entreprise (facultatif)"></textarea>
				</div>
				<div>
					<label for="codePostal_livr">Code postal :</label>
					<input type="text" name="codePostal_livr" maxlength="5">
				</div>
				<div>
					<label for="ville_livr">Ville :</label>
					<input type="text" name="ville_livr">
				</div>
				<div>
					<label for="pays_livr">Pays :</label>
					<select name="pays" id="pays-select_livr">
						<option value="">--Choisir un pays--</option>
					</select>
				</div>


			</div>
			<div class="form_payement">
				<h2>Moyens de paiement</h2>
				<div>
					<input type="radio" name="payementMethod" id="cb" value="cb">
					<label for="cb" class="cb">Carte bancaire
						<img src="img/mastercard.png" alt="MasterCard">
						<img src="img/cb.jpg" alt="CB">
						<img src="img/visa.png" alt="Visa">
						<img src="img/American-Expresso-logo.png" alt="AMEX">
					</label>
				</div>
				<h2 id="prix-total">Total :
					{{ totalPanier|number_format(2, ',', '') }}
					€ TTC</h2>
				<input type="submit" value="Valider mon panier" class="btn btn-bleu">
			</div>
		</section>
	</form>

</main>

{% include "partial/feed-insta.html.twig" %}
{% include "partial/footer.html.twig" %}
